<!-- Устанавливаем multipart/form-data -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Выводим каждое поле формы в отдельном параграфе -->
    {{ form.as_p }}
    <button type="submit">Загрузка</button>
</form>

<!-- Выводим уже созданные записи -->
{% for b in users %}
<p>{{ b.name }}</p>
<img src="{{ b.cover.url }}" width="100px">
<!-- Выводим размер картинки -->
<p>Оригинальный размер картинки  {{ b.cover.width }}x{{ b.cover.height }}</p>
<br/>
<a href="{{ b.user }}">User</a>
{% endfor %}